@import "@/shared/styles/vars";

.authBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid $border-dark;
  border-radius: 20px;
  padding: 25px;
  color: #ffffff;
  box-shadow: 0 0 50px 10px $dark;
  background-color: $dark;
}

.header {
  margin: 0 auto;
  margin-bottom: 15px;
}

.error {
  color: $error;
}

.input {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.link {
  text-decoration: underline;
  font-size: 14px;
  color: $link-underline;
  margin: 0 auto;
}

.rowsInputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
}

.rowInputs {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 2fr;
}

