@use "sass:math";

// Colors
$dark: #0a0a0a;
$white: #fff;
$black: #000;

$content-bg: #1e1d1d;
$main-bg: #0a0a0a;

$pink-main: #8a6aff;
$pink-hover: #7756fc;

$border-dark: #383434;
$error: #b20000;

$link-underline: #ccc;
$empty-image: #797979;

$input-active: #2c2b2b;