@import "@/shared/styles/vars";

.greenButton {
  padding: 10px;
  background-color: $pink-main;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
}

.greenButton:hover {
  background-color: $pink-hover;
}