@import "@/shared/styles/vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.container {
  background-color: #262323;
}

.loadingBlock {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gifLoad {
  width: 100%;
}